<div class="row">
  <% @restaurants.each do |restaurant| %>
  <div class="col-xs-12">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  </div>
  <% end %>
  <%= link_to "Add new", new_restaurant_path, :class => "btn btn-primary" %>
</div>
